html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #050505;
    font-family: 'Courier New', monospace;
    user-select: none;
}

#game-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    outline: none;
}

#ui-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
    display: none;
}

.hud-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 280px;
    background: rgba(20, 15, 10, 0.9);
    padding: 15px;
    border: 2px solid #8d6e63;
    border-radius: 4px;
    color: #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.bar {
    height: 10px;
    background: #333;
    margin-bottom: 8px;
    border-radius: 2px;
    overflow: hidden;
}

.fill {
    height: 100%;
    transition: width 0.2s ease-out;
}

.biome-title {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 10px #000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 2s;
}

.controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #aaa;
    font-size: 12px;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

#minimap-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #5d4037;
    border-radius: 4px;
    overflow: hidden;
}

#minimap {
    width: 100%;
    height: 100%;
    display: block;
}

#inventory-ui {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    background: rgba(20, 15, 10, 0.9);
    padding: 15px;
    border: 2px solid #8d6e63;
    border-radius: 4px;
    color: #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    display: none; /* Initially hidden */
}

/* PANTALLAS */
.screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0a0a;
    color: #ffa726;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    flex-direction: column;
    transition: opacity 0.5s;
}

#loading-bar {
    width: 300px;
    height: 4px;
    background: #333;
    margin-top: 20px;
    border-radius: 2px;
}

#loading-progress {
    width: 0%;
    height: 100%;
    background: #ffa726;
    transition: width 0.2s;
}

#death-screen {
    display: none;
    background: rgba(50, 0, 0, 0.9);
    z-index: 3000;
}

.btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2em;
    background: #ffa726;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #ffcc80;
}